# Dependencies
node_modules
backend/venv
backend/.nix-venv
.nix-gsettings-schemas

# Build output
dist
dist-ssr
backend/build
backend/__pycache__
backend/formats/__pycache__
src-tauri/target
src-tauri/binaries/python-backend-*-unknown-linux-gnu
src-tauri/binaries/python-backend-*-apple-darwin

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment & local files
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
result
